<div class="settings-form">
    <h2>Facebook Share Meta Tag Settings</h2>
    <form [formGroup]="metaForm" (ngSubmit)="onMetaSubmit(metaForm.value)">
        <div class="input-group">
            <label for="fbAppId">
                Facebook App Id
            </label>
            <input class="top-field" id="fbAppId" type="text" formControlName="fbAppId">
        </div>
        <div class="input-group">
            <label for="ogType">
                Type
            </label>
            <input id="ogType" type="text" formControlName="ogType">
        </div>
        <div class="input-group">
            <label for="ogTitle">
                Title
            </label>
            <input id="ogTitle" type="text" formControlName="ogTitle">
        </div>
        <div class="input-group">
            <label for="ogDescription">
                Description
            </label>
            <input id="ogDescription" type="text" formControlName="ogDescription">
        </div>
        <div class="input-group">
            <label for="ogImage">
                Image
            </label>
            <input id="ogImage" type="text" formControlName="ogImage">
        </div>
        <div class="input-group">
            <label for="ogImageAlt">
                Image
            </label>
            <input id="ogImageAlt" type="text" formControlName="ogImageAlt">
        </div>
        <button class="button" type="submit">Set Meta Data</button>
    </form>
    <form [formGroup]="shareBtnForm" (ngSubmit)="onBtnSubmit(shareBtnForm.value)">
        <h2>Share Button Settings</h2>
        <div class="input-group">
            <label for="dataShare">
                Data Share
            </label>
            <select id="dataShare" formControlName="dataShare">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="input-group">
            <label for="dataWidth">
                Data Width
            </label>
            <input id="dataWidth" type="number" formControlName="dataWidth">
        </div>
        <div class="input-group">
            <label for="dataShowFaces">
                Show Faces
            </label>
            <select id="dataShowFaces" formControlName="dataShowFaces">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="input-group">
            <label for="dataSize">
                Size
            </label>
            <select id="dataSize" formControlName="dataSize">
                <option value="small">Small</option>
                <option value="large">Large</option>
            </select>
        </div>
        <div class="input-group">
            <label for="dataLayout">
                Layout
            </label>
            <select id="dataLayout" formControlName="dataLayout">
                <option value="standard">Standard</option>
                <option value="box_count">Box Count</option>
                <option value="button_count">Button Count</option>
                <option value="button">Button</option>
            </select>
        </div>
        <button class="button" type="submit">Set Buttons</button>
        <button (click)="onReloadButton()">Reload Buttons</button>
    </form>
    <div class="fb-like" 
    [attr.data-share]="fbShareBtnData.dataShare"
    [attr.data-width]="fbShareBtnData.dataWidth"
    [attr.data-show-faces]="fbShareBtnData.dataShowFaces"
    [attr.data-layout]="fbShareBtnData.dataLayout"
    [attr.data-size]="fbShareBtnData.dataSize"
    [attr.data-href]="fbShareBtnData.dataHref"></div>
</div>