<div class="settings-form">
    <h2>Facebook SDK Settings</h2>
    <form [formGroup]="sdkForm" (ngSubmit)="onSubmit(sdkForm.value)">
        <div class="input-group">
            <label for="appId">
                Facebook App Id
            </label>
            <input class="top-field" id="appId" type="text" formControlName="appId">
        </div>
        <div class="input-group">
            <label for="status">
                Status
            </label>
            <select id="status" formControlName="status">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="input-group">
            <label for="xfbml">
                XFBML
            </label>
            <select id="xfbml" formControlName="xfbml">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <button class="button" type="submit">Submit</button>
    </form>
</div>
